<div class="container">
<div class="card-container row">
    ${ results.map((result) => {
    return `
    <div class="border-0 col-4 mx-3 my-5 p-0" style="width: 18rem;">
        <div class="card-contents card h-100" style="width: 18rem">
            <img src=${result.img} class="card-img card-img-top">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">${result.name}</h5>
                <p class="card-text">${result.calories} calories</p>
                <form action="/order/${result.id}/add" method="post" class="form-button">
                    <button id="#add-product"
                        class="add-product btn btn-primary align-center mt-auto btn btn-lg btn-block">Add to
                        order</button>
                </form>
            </div>
        </div>
    </div>
    `
    }) .join(' ')}
</div>
</div>