<!-- 

Contact and Payment

Name req

Email req

Phone Number req

create account?
password form appears if clicked, display:none/block

pick up or delivery? 

-->

<p class="text-center mt-5">
    Already have an account? <a href="/user/login">Log in.</a>

</p>
<h1 class="text-center mt-5 mb-5 display-1">
    Contact Information
</h1>

<form class="mx-auto text-center form-group w-50" action="/order/checkout" method="post">
    <fieldset>
        <p class="form-floating">
            <input class="form-control" type="text" id="name" name="name" placeholder="Name" required>
            <label for="name" class="text-secondary">Name</label>
        </p>
        <p class="form-floating">
            <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
            <label for="email" class="text-secondary">Email Address</label>
        </p>
        <p class="form-floating">
            <input class="form-control" type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="888-888-8888" required>
            <label for="phone" class="text-secondary">Enter your phone number (Format: 123-456-7890)</label>
        </p>
        <p>
            <input type="checkbox" id="register" name="register" class="register" value="true">
            <label for="register" class="text-secondary">Register an account</label>
        </p>
        <p class="create-password form-floating" style="display: none">
            <input class="form-control required-password" type="password" id="password" name="password" minlength="8">
            <label for="password" class="text-secondary">Password (8 characters minimum)</label>
        </p>
    </fieldset>
    <fieldset>
        <h1 class="text-center mt-5 mb-5 display-1">
            Pick up or Delivery?
        </h1>
        <p>
            <input class="pu" type="radio" id="pickup" name="pickupOrDelivery" value="pickup" checked>
            <label for="pickup">Pick up</label>
            <input class="de" type="radio" id="delivery" name="pickupOrDelivery" value="delivery">
            <label for="delivery">Delivery</label><br>
        </p>
        <div class="delivery" style="display: none">
            <p class="form-floating">
                <input class="form-control required-address" type="text" id="address" name="address" placeholder="42 Wallaby Way">
                <label for="address" class="text-secondary">Address</label>
            </p>
            <p class="form-floating">
                <input class="form-control required-city" type="text" id="city" name="city" placeholder="Sydney">
                <label for="city" class="text-secondary">City</label>
            </p>
            <p class="form-floating">
                <input class="form-control required-state" type="text" id="state" name="state" placeholder="GA">
                <label for="state" class="text-secondary">State</label>
            </p>
        </div>
    </fieldset>
    <input class="btn btn-primary btn-lg" type="submit">
</form>

