<h1 class="text-center mt-5 mb-5 display-1">
    Your Order
</h1>
<table class="mx-auto text-center" border="1">
    <thead>
        <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        ${orderProducts.map(orderProduct => {
            return `<tr>
                <td>${orderProduct.Product.name}</td>
                <td>${orderProduct.quantity}</td>
                <td>$${(orderProduct.quantity * orderProduct.Product.price / 100).toFixed(2)} </td>
            </tr>`
        }).join('')}
    </tbody>
</table>
<form class="text-center" action="/order/checkout" method="">
    <button class="mt-3 btn btn-primary btn-lg" type="submit">Check out</button>
</form>