<h1 class="text-center mt-5 mb-5 display-1">
    Your Order
</h1>
<table class="table mx-auto text-center" border="1">
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Cost</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        ${orderProducts.map(orderProduct => {
        return `<tr>
            <td>${orderProduct.Product.name}</td>
            <td>${orderProduct.quantity}</td>
            <td class="cost">$${(orderProduct.quantity * orderProduct.Product.price / 100).toFixed(2)} </td>
            <td>
                <form action="/order/${orderProduct.Product.id}/delete" method="post">
                    <button id="#delete-product" class="delete-product btn btn-primary">X</button>
                </form>
            </td>
        </tr>`
        }).join('')}
        <tr>
            <td>Total</td>
            <td></td>
            <td class="total">$1</td>
        </tr>
    </tbody>

</table>
<form class="text-center" action="/order/checkout">
    <button class="mt-3 btn btn-primary btn-lg" type="submit">Check out</button>
</form>


<script src="/cart.js"></script>