<br>
<h1 class="mx-auto text-center">
    Thank you for your order!
</h1>
<p class="mx-auto text-center">
    Your order has been received and is now being processed.
</p>
<br>
<h2>Order Number - ${order.id}</h2>
<table class="table mx-auto text-center" border="1">
    <thead>
        <tr>

            <th>Amount</th>
            <th>Cost</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        ${orderProducts.map(orderProduct => {
        return `<tr>
            <td>${orderProduct.Product.name}</td>
            <td>${orderProduct.quantity}</td>
            <td class="cost">$${(orderProduct.quantity * orderProduct.Product.price / 100).toFixed(2)}</td>
        </tr>`
        }).join('')}
        <tr>
            <td>Total</td>
            <td></td>
            <td class="total">${(order.total /100).toFixed(2)}</td>
        </tr>
    </tbody>
</table>
<div class="text-center">
<h2 class="border-bottom border-white mt-5">
    Customer Details
</h2>
<p>
    Name: ${user.name.split(' ').map(name => name[0].toUpperCase() + name.substring(1)).join(' ')}
</p>
<p>
    Email: ${user.email}
</p>
<p>
    Phone number: ${user.phone}
</p>
<form action="/order/checkout/receipt" method="post">
    <button class="text-center btn btn-lg btn-warning">Go back to Menu</button>
</form>
</div>

<script src="/cart.js"></script>