<h1 class="text-center mb-4 display-1 text-warning">Create an account</h1>
<form class="mx-auto text-center form-group w-50" action="/register" method="post">
  <p class="form-floating">
    <input class="form-control" type="text" id="name" name="name" placeholder="Name" required>
    <label for="name">Name</label>
  </p>
  <p class="form-floating">
    <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
    <label for="email">Email Address</label>
  </p>
  <p class="form-floating">
    <input class="form-control" type="password" id="password" name="password" minlength="8" required>
    <label for="password">Password (8 characters minimum)</label>
  </p>
  <p class="form-floating">
    <input class="form-control" type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="888-888-8888" required>
    <label for="phone">Enter your phone number (Format: 123-456-7890)</label>
  </p>
  <p class="form-floating">
    <input class="form-control" type="text" id="address" name="address" placeholder="42 Wallaby Way" required>
    <label for="address">Address</label>
  </p>
  <p class="form-floating">
    <input class="form-control" type="text" id="city" name="city" placeholder="Sydney">
    <label for="city">City</label>
  </p>
  <p class="form-floating">
    <input class="form-control" type="text" id="state" name="state" placeholder="GA">
    <label for="state">State</label>
  </p>
  <button class="btn btn-primary btn-lg" type="submit">Register</button>
</form>