body {
  color: white;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.form-floating {
  color: #6c757d
}

.card-img {
  height: 22em;
  object-fit: cover;

}

.card-title {
  color: #FFC107;
  display: flex;
  justify-content: center;
}

.card-text {
  color: #FFC107;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.card-body {
  background-color: #6c757d;
}

.add-product {
  background-color: #3c4248;
  border-radius: 1em;
  color: #FFC107;
  border: none;
  display: flex;
  justify-content: center;
}

.form-button {
  display: grid;
}

.card-container {
  justify-content: center;
}

.h-100 {
  background: none;
  border: none !important;
  border-radius: 1em !important;
}